<div id="methodology" class="section-parallax" style="background-image: url(&quot;img/accessibility_opacity_pb.jpg&quot;) ">
    <div class="container-fluid p-5" style="margin-top: 6.5rem">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4">Dados IBGE e SMPED</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            O <a href='https://censo2010.ibge.gov.br/' target='_blank'>Censo do IBGE (Instituto Brasileiro de Geografia e Estatística)</a> é um estudo estatístico que mede a densidade populacional e o perfil da população brasileira. O último censo foi realizado em 2010, e seus resultados foram usados para construir os mapas abaixo. Os dados foram agrupados em 'áreas de ponderação', definidas pelo IBGE.

            Apartir destes dados, dois tipos de mapas foram desenvolvidos: Mapas gerais mostram qual portentagem da população moradora da região entrevistada afirma ter algum tipo de dificuldade ou deficiência, enquanto mapas de distribuição mostram qual porcentagem da população que respondeu ter dificuldade ou deficiência mora na região. Os mapas construídos são:
            <ul>
              <li><b>Alguma dificuldade (Geral)</b>: mostra a porcentagem por área de ponderação de pessoas que afirmaram ter algum tipo de dificuldade ou deficiência.</li>
              <li><b>Dif. de enxergar (Geral)</b>: mostra a porcentagem por área de ponderação de pessoas que afirmaram ter dificuldade de enxergar.</li>
              <li><b>Dif. de ouvir (Geral)</b>: mostra a porcentagem por área de ponderação de pessoas que afirmaram ter dificuldade de ouvir.</li>
              <li><b>Dif. de caminhar (Geral)</b>: mostra a porcentagem por área de ponderação de pessoas que afirmaram ter dificuldade de caminhar.</li>
              <li><b>Def. intelectual (Geral)</b>: mostra a porcentagem por área de ponderação de pessoas que afirmaram ter deficiência mental.</li>
              <li><b>Alguma dificuldade (Distribuição)</b>: Da população com algum tipo de dificuldade ou deficiência, qual % desta mora nesta área de ponderação.</li>
              <li><b>Dif. de enxergar (Distribuição)</b>: Da população com dificuldade de enxergar, qual % desta mora nesta área de ponderação.</li>
              <li><b>Dif. de ouvir (Distribuição)</b>: Da população com dificuldade de ouvir, qual % desta mora nesta área de ponderação.</li>
              <li><b>Dif. de caminhar (Distribuição)</b>: Da população com dificuldade de caminhar, qual % desta mora nesta área de ponderação.</li>
              <li><b>Def. intelectual (Distribuição)</b>: Da população com deficiência intelectual, qual % desta mora nesta área de ponderação.</li>
            </ul>
              Outra fonte de dados para este projeto foi a <a href='https://www.prefeitura.sp.gov.br/cidade/secretarias/pessoa_com_deficiencia/' target='_blanket'>Secretaria Municipal da Pessoa com Deficiência e Mobilidade Reduzida (SMPED)</a>, que também disponibilizou dados anonimizados para exibição.

              Os dados disponibilizados foram:
            <ul>
              <li><b>Número de beneficiários do BPC</b>: número de recipientes do Benefício assistencial ao idoso e à pessoa com deficiência (BPC) por área de ponderação (mesma divisão do IBGE).</li>
            </ul>


          </p>
          <h5>
            Veja mais detalhes no <a href="url_tcc" target="_blank">trabalho de conclusão de curso</a> ou no repositório do <a href="https://github.com/jbarguil/free-wheels" target="_blank">código-fonte</a>.
          </h5>
        </div>
      </div>
    </div>
</div>
