<div id="ranking" class="p-5 container-fluid">
  <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          Lista ordenada
        </h1>
        <p>Clique no título de cada coluna para reordenar a tabela.</p>
      </div>
      <div class="col-md-12 points_table">
        <table id="ranking-table" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Região Distrital</th><th>Alguma dificuldade (Geral)</th><th>Alguma dificuldade (Distribuição)</th><th>Beneficiários BPC</th><th> Dif. de enxergar (Geral)</th><th>Dif. de enxergar (Distribuição)</th><th>Dif. de ouvir (Geral)</th><th>Dif. de ouvir (Distribuição)</th><th>Dif. de caminhar (Geral)</th><th>Dif. de caminhar (Distribuição)</th><th>Def. intelectual (Geral)</th><th>Def. intelectual (Distribuição)</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
</div>
